<div class="member-list">

  <%= form_tag users_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search Near", :name => nil %>
    </p>
  <% end %>

    <% @users.each do |user| %>
      <% if user.contact_info.present? %>
        <ul>
          <%= user.contact_info.first_name + " " + user.contact_info.last_name unless user.contact_info.first_name.blank? %>
          <ul>
            <li><%= user.contact_info.home_city unless user.contact_info.home_city.blank? %></li>
            <li><%= user.contact_info.home_state unless user.contact_info.home_state.blank? %></li>
          </ul>
        </ul>
      <% end %>

    <% end %>
</div>

<div class="member-locations">
  <%= gmaps4rails(@json) %>
</div>
