<!DOCTYPE html>
<html>
<head>
  <title>AlumniLocator</title>
  <%= stylesheet_link_tag    "screen", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="header-primary">
    <h1 class="title"><a href="/">Niswonger Alumni Locator</a></h1>
  </header>

  <section class="content-primary wrap">
    <%= render 'shared/flash' %>
    <%= yield %>
  </section>

  <footer>
    <%= yield :scripts %>
  </footer>

</body>
</html>
