<!DOCTYPE html>
<html>
<head>
  <title>AlumniLocator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrap-header">
  </div>

  <div class="wrap-content">
    <%= render 'shared/flash' %>
    <%= yield %>
  </div>

  <footer>
    <%= yield :scripts %>
  </footer>

</body>
</html>
